/*
*/
$white: #ffffff;
$black: #272727;
$orange: #f59131;
$green: #39a154;
$ltblue: rgb(27,156,210);
$dark-blue: #005181;
$green-heading: #39a053;
$quote-author: #0068a9;
$quote-author-title: #00acd9;
$footer_button_text: white;
$footer_background_color: #005181;
$bodyBackground: #b2b3b7;
$button-text-color: $white;
$icons-border-color: lightgrey;

html {
  box-sizing: border-box;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: normal;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-color: $bodyBackground;
  background: url('images/background/rooftop_blue_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

%CTA {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
      "2-part-heading"
      "para-with-link";

  & > div {

    & > .two-part-heading  {
      grid-area: 2-part-heading;
      margin: 10px 0;
  
      & > .two-part-top {
        font-size: 3.2rem;
        font-weight: 100;
      }
      
      & > .two-part-bottom {
        font-size: 3.0rem;
        font-weight: 200;
        line-height: 3.2rem;
      }
    }
    & > .para-with-link {
      grid-area: para-with-link;
      margin: 10px 0;
      font-weight: normal;
      font-size: 1.1em;
      & > .para-spacer {
        display: block;
      }
      & > a {
        grid-area: para-with-link;
        display: block;
        width: 150px;
        float: left;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
}

%HeroLink {
  max-width: 200px;
  max-height: 80px;
  color: $white;
  display: grid;
  grid-template-columns: 2fr 65px;
  grid-template-areas: "details icon";
  justify-items: center;
  align-items: center;

  & > .hero-link-details {
    grid-area: details;
    padding-left: 1rem;

    & > .hero-link-title {
      font-size: 12px;
      font-weight: normal;
      margin: 5px 0;
    }
    & > .hero-link-description {
      font-size: 10px;
      font-weight: lighter;
    }
  }

  & > .link-icon {
    grid-area: icon;
    align-content: center;
    justify-content: center;
    place-items: center center;
  }
}

%IconLink {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 35px;
  grid-template-areas: "icon" "desc";
  grid-gap: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-size: 85%;
  justify-items: center;
  margin: 0 0 20px 0;
  & > a {
    grid-area: desc;
    width: 90px;
  }
}

%Button {
  display: block;
  width: 150px;
  height: 34px;
  padding: 10px;
  border-radius: 3px;
  border: 0;
  color: $button-text-color;
  font-weight: normal;
}
.btn-orange {
  @extend %Button;
  background-color: $orange;
  &:focus,
  &:hover {
    background-color: darken($orange, 5%);
  }
}
.btn-ltblue {
  @extend %Button;
  background-color: $ltblue;
  &:focus,
  &:hover {
    background-color: darken($ltblue, 5%);
  }
}
.icon {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  body {
    background-size: 125%;
  }
  #container {
    grid-template-rows: 125px 100px auto auto auto auto;
    grid-template-areas: "top" "links" "cta1" "cta2" "video" "footer";
    width: 100%;
    max-width: 320px;
    & > #top {
      display: block;
      grid-area: top;
      width: 100%;
      & > #hero-cta {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        & > div > .two-part-heading {
          margin: 10px 0 0 10px;
          & > .two-part-top,
          & > .two-part-bottom {
            font-size: 2.0rem;
            line-height: 22px;
          }
        }
        & > div > .para-with-link {
          grid-area: unset;
          display: none;
          & > a.cta {
            display: none;
          }
        }
      }
      & > #hero-links {
        grid-area: links;
        margin: 0;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 45px);
        width: 100%;
        align-items: start;
        justify-items: center;
        & > .hero-link-wrapper {
          margin: 0;
          width: 100%;
          & > .hero-link {
            max-width: 100%;
            max-height: 50px;
            grid-template-columns: 1fr 55px;
            justify-items: start;
            
            & > .hero-link-details {
              padding-left: 10px;
              & > .hero-link-title {
                margin: 1px 0 0 0;
              }
              & > .hero-link-description {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
    & > #cta1 {
      margin-top: 37px;
      & > .cta1-heading {
        margin: 20px auto;
        font-size: 1.5rem;
        width: 75%;
      }
      & > .cta1-copy {
        width: 80%;
      }
      & > #icons-list {
        width: 80%;
        max-width: 80%;
        padding: 25px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        margin: 0 auto;
        & > #icon-7 {
          transform: translateY(80px);

        }
        & > .cta1-icon {
          grid-template-rows: 95px 40px;
          width: 90px;
          height: 90px;
          background-size: 100%;
          margin: 13px auto;
          
          & > .cta1-icon-link {
            font-size: 1.5rem;
            width: 95px;
          }
        }
        & > .cta1-arrow {
          transform: rotateZ(90deg);
          background-size: 80%;
          width: 55px;
          height: 55px;
          margin: 30px 75px;
        }
        & > #arrow-5 {
          margin: 38px 75px;
        }
      }
      & > #cta1-btn {
        margin-top: 75px;
      }
    }
    & > #cta2 {
      background-size: cover;
      padding: 0;
      background-position-x: -185px;
      margin-bottom: 220px;
      & > #cta2-wrapper {
        color: $black;
        bottom: -280px;
        margin: 0 auto;
        & > .para-with-link > #cta2-btn {
          margin: 20px auto 0 32px;
        }
      }

    }
    & > #video-wrapper {
      margin: 75px auto;
      & > #video-heading {
        font-size: 2rem;
        margin: 0 auto;
        transform: translateY(60px);
      }
      & > #video-player {
        width: 100%;
        & > .left-caret {
          margin: 160px 0 0 10px;
        }
        & > .video-thumb {
          width: 100%;
          & > .play-button {
            transform: translateX(-10px);
          }
        }
        & > .right-caret {
          margin: -190px 10px 0 0;
        }
      }
      & > #quote {
        width: 80%;
        margin: -50px auto 0 auto;
      }
    }
    & > #the-footer {
      
      & > #footer-copy {
        font-size: 1.2rem;
        margin-top: 0;
        & > .footer {
          margin-top: 5px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #container {
    width: 100%;
    max-width: 768px;
    grid-template-rows: 240px 450px 180px 1fr 60px;
  }
  .top {
    display: block;
  }
  #hero-cta {
    display: block;
    margin: 10px 0 0 10px;
    width: 40%;
    float: left;
    & > div {
      & > .two-part-heading {
        & > .two-part-top {
          font-size: 2.5rem;
        }
        & > .two-part-bottom {
          font-size: 2.5rem;
          line-height: 27px;
        }
      }
    }
  }
  #hero-links {
    display: block;
    width: 26%;
    float: right;
    margin: 0 0 0 251px;
    & > a.hero-link-wrapper {
      margin: -2px auto;
    }
  }
  #cta1 {
    & > .cta1-heading {
      margin: 50px auto 20px auto;
    }
    & > .cta1-copy {
      width: 80%;
    }
  }
  #icons-list {
    grid-template-rows: 48px 27px;
    width: 85%;
    height: 140px;
    max-width: 768px;
    padding: 15px 10px;
    & > .cta1-icon {
      width: 45px;
      height: 45px;
      background-size: 44px;
      justify-items: center;
      margin: 0;
      & > li.cta1-icon-link {
        margin: 0;
      }
    }
    & > #icon-7 {
      margin-left: 0px;
    }
    & > .cta1-arrow {
      background-position-y: 25px;
      background-size: 100%;
      width: 25px;
      margin: 0;
    }
  }
  #cta2 {
    & > .cta2-wrapper {
      max-width: 95%;
      & > .two-part-heading {
        & > .two-part-top {
          font-size: 2.0rem;
        }
        & > .two-part-bottom {
          font-size: 2.0rem;
          line-height: 18px;
        }
      }
    }
  }
  #video-wrapper {
    margin: 0 auto 50px auto;
    & > .video-heading {
      margin: 50px auto 0 auto;
    }
    & > .video-player {
      width: 80%;
    }
    & > .quote {
      width: 70%;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
    max-width: 1280px;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 500px 330px 1fr 60px;
  grid-gap: 0px;
  grid-template-areas: 
      "top"
      "cta1"
      "cta2"
      "video"
      "footer";
}

.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.hero-cta {
  @extend %CTA;
  color: $white;
  margin: 50px 100px;
  width: 40%;
  height: 75%;
}

.hero-links {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  width: 40%;
  margin: 20px 0 0 0;

  & > a.hero-link-wrapper {
    margin: 5px auto;

    & > #link1 {
      @extend %HeroLink;
      background-color: $orange;
    }
    & > #link2 {
      @extend %HeroLink;
      background-color: $green;
    }
    & > #link3 {
      @extend %HeroLink;
      background-color: $dark-blue;
    }
  }
}

.cta1 {
  grid-area: cta1;
  background-color: $white;
  text-align: center;

  & > .cta1-heading {
    color: $green-heading;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 50px auto 10px auto;
  }
  & > .cta1-copy {
    color: $black;
    width: 55%;
    margin: 20px auto;
    line-height: 1.5rem;
  }
  & > .cta1-icons-list {
    list-style: none;
    width: 90%;
    max-width: 914px;
    padding: 40px;
    border: .1px solid $icons-border-color;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr);
    
    & > .cta1-icon {
      display: inline-block;
      width: 70px;
      
      & > .cta1-icon-link {
        text-decoration: none;
        color: $ltblue;
      }
    }

    & > .cta1-arrow {
      background-image: url('/assets/images/icons/right-arrow.svg');
      background-repeat: no-repeat;
      background-position-y: 15px;
      background-size: 90%;
      width: 40px;
      margin: 10px;
    }
    & > #icon-1 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/sales-and-marketing.svg');
    }
    & > #icon-2 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/point-of-sale.svg');
    }
    & > #icon-3 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/origination.svg');
    }
    & > #icon-4 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/processing-and-underwriting.svg');
      background-size: 75%;
    }
    & > #icon-5 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/eclosing-and-investor-delivery.svg');
      background-size: 75%;
    }
    & > #icon-6 {
      @extend %IconLink;
      background-image: url('/assets/images/icons/reporting-and-analytics.svg');
    }
    & > #icon-7 {
      @extend %IconLink;
      margin-left: 55px;
      background-image: url('/assets/images/icons/compliance.svg');
      background-position: center;
      background-color: $white;
      & > .cta1-icon-link {
        background-color: $white;
        margin-bottom: 10px;
      }
    }

  }
  & > .cta1-btn {
    display: inline-block;
    margin: 25px auto;
  }
}

.cta2 {
  @extend %CTA;
  grid-area: cta2;
  background-image: url('images/background/encompass.png');
  background-repeat: no-repeat;
  background-size: 100%;
  //background-position: 0px bottom;
  color: $white;
  padding-left: 45%;
  display: block;
  
  
  & > .cta2-wrapper {
    position: relative;
    bottom: 2vh;
    margin: 5%;
    max-width: 70%;
    & > .two-part-heading {
      width: 100%;
    }
    
    & > .para-with-link {
      width: 100%;
    }
  }
}

.video {
  grid-area: video;
  text-align: center;
  background-color: $white;
  margin: 50px auto;
  
  & > .video-heading {
    color: $green-heading;
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  & > .video-player {
    width: 55%;
    margin: 0 auto;

    & > .left-caret {
      float: left;
      display: inline-block;
      margin-top: 165px;
    }
    & > .video-thumb {
      grid-area: main-image;
      background-image: url('/assets/images/client-video.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 500px;
      margin: 0 auto;
      padding: 0;

      & > .play-button {
        grid-area: main-image;
        margin: 100px auto;
      }
    }
    & > .right-caret {
      float: right;
      display: inline-block;
      margin-top: -185px;
    }
  }
  
  & > .quote {
    margin: 25px auto;
    width: 34%;
    line-height: 18px;
  
    &:before {
      content: open-quote;
    }
  
    &:after {
      content: close-quote;
    }
  }
  
  & > .quote-author {
    color: $quote-author;
    font-size: 1.1rem;
    margin-bottom: 3px;
  }
  
  & > .quote-author-title {
    color: $quote-author-title;
    margin-top: 0px;
  }
}

footer {
  grid-area: footer;
  color: $white;
  background-color: $footer_background_color;
  text-align: center;
  padding: 10px 0;

  & > .footer-copy {
    font-size: 1.4rem;
    margin-top: 5px;
    
    & > a.footer {
      display: inline-block;
      margin-left: 20px;
      font-size: 1.1rem;
    }
  }
}

