/*
*/
$white: #ffffff;
$black: #272727;
$orange: #f59131;
$green: #39a154;
$dark-blue: #005181;
$video_heading_color: #39a053;
$quote-author: #0068a9;
$quote-author-title: #00acd9;
$footer_button_text: white;
$footer_background_color: #005181;
$bodyBackground: #b2b3b7;
$button-text-color: $white;

html {
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-color: $bodyBackground;
  background: url('images/background/rooftop_blue_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

%CTA {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
      "2-part-heading"
      "para-with-link";

  & > .two-part-heading  {
    grid-area: 2-part-heading;
    margin: 10px 0;

    & > .two-part-top {
      font-size: 3.2rem;
      font-weight: 100;
    }
    
    & > .two-part-bottom {
      font-size: 3.0rem;
      font-weight: 200;
      line-height: 3.2rem;
    }
  }
  & > .para-with-link {
    grid-area: para-with-link;
    margin: 10px 0;
    font-weight: normal;
    font-size: 1.1em;
    & > a.cta {
      grid-area: para-with-link;
      width: 150px;
      float: left;
      margin: 20px 0;
      text-align: center;
    }
  }
}

%HeroLink {
  width: 180px;
  max-height: 80px;
  color: $white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "details icon";
  justify-items: center;
  align-items: center;

  & > .hero-link-details {
    grid-area: details;

    & > .hero-link-title {
      font-size: 12px;
      font-weight: normal;
    }
    & > .hero-link-description {
      font-size: 10px;
      font-weight: normal;
    }
  }

  & > .link-icon {
    grid-area: icon;
    align-content: center;
    justify-content: center;
  }
}

%Button {
  padding: 10px;
  border-radius: 3px;
  border: 0;
  color: $button-text-color;
  font-weight: normal;
}
.btn-orange {
  @extend %Button;
  background-color: $orange;
  &:focus,
  &:hover {
    background-color: darken($orange, 5%);
  }
}
.icon {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 250px 225px 1fr 60px;
  grid-gap: 0px;
  grid-template-areas: 
      "top"
      "cta1"
      "cta2"
      "video"
      "footer";
}

.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.hero-cta {
  @extend %CTA;
  color: $white;
  margin: 50px 100px;
  width: 40%;
  height: 75%;
}

.hero-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  width: 50%;
  margin: 25px 100px 0 0;

  & > a.hero-links-wrapper {
    justify-content: center;
  }
  #link1 {
    @extend %HeroLink;
    background-color: $orange;
  }
  #link2 {
    @extend %HeroLink;
    background-color: $green;
  }
  #link3 {
    @extend %HeroLink;
    background-color: $dark-blue;
  }
}


.cta1 {
  @extend %CTA;
  grid-area: cta1;
  background-color: $white;
  color: $black;
}

.cta2 {
  grid-area: cta2;
  background-image: url('images/background/encompass-ng-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px bottom;
}

.video {
  grid-area: video;
  text-align: center;
  background-color: $white;
  padding: 65px 0;
  & > .video-heading {
    color: $video_heading_color;
    font-size: 2rem;
    font-weight: 400;
  }
  & > .video-thumb {
    width: 500px;
  }
  & > .quote {
    margin: 25px auto;
    width: 48%;
    line-height: 18px;
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
  & > .quote-author {
    color: $quote-author;
    font-size: 1.1rem;
    margin-bottom: 3px;
  }
  & > .quote-author-title {
    color: $quote-author-title;
    margin-top: 0px;
  }
}

footer {
  grid-area: footer;
  color: $white;
  background-color: $footer_background_color;
  text-align: center;
  padding: 10px 0;

  & > .footer-copy {
    font-size: 1.4rem;
    
    & > a.footer {
      margin-left: 20px;
    }
  }
}
