/*
*/
html {
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 10px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-color: #b2b3b7;
  background: url("images/background/rooftop_blue_background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center; }

.hero-cta, .cta2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "2-part-heading" "para-with-link"; }
  .hero-cta > .two-part-heading, .cta2 > .two-part-heading {
    grid-area: 2-part-heading;
    margin: 10px 0; }
    .hero-cta > .two-part-heading > .two-part-top, .cta2 > .two-part-heading > .two-part-top {
      font-size: 3.2rem;
      font-weight: 100; }
    .hero-cta > .two-part-heading > .two-part-bottom, .cta2 > .two-part-heading > .two-part-bottom {
      font-size: 3.0rem;
      font-weight: 200;
      line-height: 3.2rem; }
  .hero-cta > .para-with-link, .cta2 > .para-with-link {
    grid-area: para-with-link;
    margin: 10px 0;
    font-weight: normal;
    font-size: 1.1em; }
    .hero-cta > .para-with-link > .para-spacer, .cta2 > .para-with-link > .para-spacer {
      display: block; }
    .hero-cta > .para-with-link > a, .cta2 > .para-with-link > a {
      grid-area: para-with-link;
      display: block;
      width: 150px;
      float: left;
      margin: 20px 0;
      text-align: center; }

.hero-links > a.hero-link-wrapper > #link1, .hero-links > a.hero-link-wrapper > #link2, .hero-links > a.hero-link-wrapper > #link3 {
  max-width: 200px;
  max-height: 80px;
  color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 65px;
  grid-template-areas: "details icon";
  justify-items: center;
  align-items: center; }
  .hero-links > a.hero-link-wrapper > #link1 > .hero-link-details, .hero-links > a.hero-link-wrapper > #link2 > .hero-link-details, .hero-links > a.hero-link-wrapper > #link3 > .hero-link-details {
    grid-area: details;
    padding-left: 1rem; }
    .hero-links > a.hero-link-wrapper > #link1 > .hero-link-details > .hero-link-title, .hero-links > a.hero-link-wrapper > #link2 > .hero-link-details > .hero-link-title, .hero-links > a.hero-link-wrapper > #link3 > .hero-link-details > .hero-link-title {
      font-size: 12px;
      font-weight: normal;
      margin: 5px 0; }
    .hero-links > a.hero-link-wrapper > #link1 > .hero-link-details > .hero-link-description, .hero-links > a.hero-link-wrapper > #link2 > .hero-link-details > .hero-link-description, .hero-links > a.hero-link-wrapper > #link3 > .hero-link-details > .hero-link-description {
      font-size: 10px;
      font-weight: lighter; }
  .hero-links > a.hero-link-wrapper > #link1 > .link-icon, .hero-links > a.hero-link-wrapper > #link2 > .link-icon, .hero-links > a.hero-link-wrapper > #link3 > .link-icon {
    grid-area: icon;
    align-content: center;
    justify-content: center;
    place-items: center center; }

.cta1 > .cta1-icons-list > #icon-1, .cta1 > .cta1-icons-list > #icon-2, .cta1 > .cta1-icons-list > #icon-3, .cta1 > .cta1-icons-list > #icon-4, .cta1 > .cta1-icons-list > #icon-5, .cta1 > .cta1-icons-list > #icon-6, .cta1 > .cta1-icons-list > #icon-7 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 35px;
  grid-template-areas: "icon" "desc";
  grid-gap: 0;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-size: 85%;
  justify-items: center;
  margin: 0 0 20px 0; }
  .cta1 > .cta1-icons-list > #icon-1 > a, .cta1 > .cta1-icons-list > #icon-2 > a, .cta1 > .cta1-icons-list > #icon-3 > a, .cta1 > .cta1-icons-list > #icon-4 > a, .cta1 > .cta1-icons-list > #icon-5 > a, .cta1 > .cta1-icons-list > #icon-6 > a, .cta1 > .cta1-icons-list > #icon-7 > a {
    grid-area: desc;
    width: 90px; }

.btn-orange, .btn-ltblue {
  display: block;
  width: 150px;
  height: 34px;
  padding: 10px;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  font-weight: normal; }

.btn-orange {
  background-color: #f59131; }
  .btn-orange:focus, .btn-orange:hover {
    background-color: #f48419; }

.btn-ltblue {
  background-color: #1b9cd2; }
  .btn-ltblue:focus, .btn-ltblue:hover {
    background-color: #188bbb; }

.icon {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 500px 330px 1fr 60px;
  grid-gap: 0px;
  grid-template-areas: "top" "cta1" "cta2" "video" "footer"; }

.top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  align-items: start; }

.hero-cta {
  color: #ffffff;
  margin: 50px 100px;
  width: 40%;
  height: 75%; }

.hero-links {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  width: 40%;
  margin: 20px 0 0 0; }
  .hero-links > a.hero-link-wrapper {
    margin: 5px auto; }
    .hero-links > a.hero-link-wrapper > #link1 {
      background-color: #f59131; }
    .hero-links > a.hero-link-wrapper > #link2 {
      background-color: #39a154; }
    .hero-links > a.hero-link-wrapper > #link3 {
      background-color: #005181; }

.cta1 {
  grid-area: cta1;
  background-color: #ffffff;
  text-align: center; }
  .cta1 > .cta1-heading {
    color: #39a053;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 50px auto 10px auto; }
  .cta1 > .cta1-copy {
    color: #272727;
    width: 55%;
    margin: 20px auto;
    line-height: 1.5rem; }
  .cta1 > .cta1-icons-list {
    list-style: none;
    width: 90%;
    max-width: 914px;
    padding: 40px;
    border: 0.1px solid lightgrey;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(12, 1fr); }
    .cta1 > .cta1-icons-list > .cta1-icon {
      display: inline-block;
      width: 70px; }
      .cta1 > .cta1-icons-list > .cta1-icon > .cta1-icon-link {
        text-decoration: none;
        color: #1b9cd2; }
    .cta1 > .cta1-icons-list > .cta1-arrow {
      background-image: url("/assets/images/icons/right-arrow.svg");
      background-repeat: no-repeat;
      background-position-y: 15px;
      background-size: 90%;
      width: 40px;
      margin: 10px; }
    .cta1 > .cta1-icons-list > #icon-1 {
      background-image: url("/assets/images/icons/sales-and-marketing.svg"); }
    .cta1 > .cta1-icons-list > #icon-2 {
      background-image: url("/assets/images/icons/point-of-sale.svg"); }
    .cta1 > .cta1-icons-list > #icon-3 {
      background-image: url("/assets/images/icons/origination.svg"); }
    .cta1 > .cta1-icons-list > #icon-4 {
      background-image: url("/assets/images/icons/processing-and-underwriting.svg");
      background-size: 75%; }
    .cta1 > .cta1-icons-list > #icon-5 {
      background-image: url("/assets/images/icons/eclosing-and-investor-delivery.svg");
      background-size: 75%; }
    .cta1 > .cta1-icons-list > #icon-6 {
      background-image: url("/assets/images/icons/reporting-and-analytics.svg"); }
    .cta1 > .cta1-icons-list > #icon-7 {
      background-image: url("/assets/images/icons/compliance.svg");
      margin-left: 60px; }
  .cta1 > .cta1-btn {
    display: inline-block;
    margin: 25px auto; }

.cta2 {
  grid-area: cta2;
  background-image: url("images/background/encompass-ng-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px bottom;
  display: grid;
  grid-template-columns: 535px 50%;
  grid-template-rows: 100%;
  grid-template-areas: "logo cta";
  height: 330px;
  color: #ffffff; }
  .cta2 > #cta2-logo {
    grid-area: logo;
    margin: 13% 0 0 53%; }
  .cta2 > .two-part-heading {
    grid-area: cta;
    margin: 30px 18%; }
  .cta2 > .para-with-link {
    grid-area: cta;
    margin: 18% 18%; }

.video {
  grid-area: video;
  text-align: center;
  background-color: #ffffff;
  padding: 5% 0 3% 0; }
  .video > .video-heading {
    color: #39a053;
    font-size: 2.5rem;
    font-weight: 400; }
  .video > .video-thumb {
    width: 45%; }
  .video > .quote {
    margin: 25px auto;
    width: 34%;
    line-height: 18px; }
    .video > .quote:before {
      content: open-quote; }
    .video > .quote:after {
      content: close-quote; }
  .video > .quote-author {
    color: #0068a9;
    font-size: 1.1rem;
    margin-bottom: 3px; }
  .video > .quote-author-title {
    color: #00acd9;
    margin-top: 0px; }

footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #005181;
  text-align: center;
  padding: 10px 0; }
  footer > .footer-copy {
    font-size: 1.4rem;
    margin-top: 5px; }
    footer > .footer-copy > a.footer {
      display: inline-block;
      margin-left: 20px;
      font-size: 1.1rem; }
